* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}

.home,
.about,
.services,
.sign-up,
.sign-in,
/* .terms,
.testimonials, */
.preview,
.error {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.about {
    background-image: url(../assets/imgs/image-about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: -5px;
    padding-top: 5px;
    margin-top: -5px;
}

.services {
    background-image: url(../assets/imgs/image-services.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: -5px;
    padding-top: 5px;
    margin-top: -5px;
}

.sign-up {
    background-image: url(../assets/imgs/image-signup.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    margin-bottom: -5px;
    padding-top: 5px;
    margin-top: -5px;
}

.sign-in {
    background-image: url(../assets/imgs/image-signin.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: -5px;
    padding-top: 5px;
    margin-top: -5px;
}

/* .terms {
    background-image: url(../assets/imgs/image-terms.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: -5px;
} */

/* .testimonials {
    background-image: url(../assets/imgs/image-testimonials.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: -5px;
} */

.preview {
    min-height:100%;
    background:linear-gradient(#000000d0, #000000d0), url(../assets/imgs/image-preview.jpg);
    background-size:cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: -5px;
    padding-top: 5px;
    margin-top: -5px;
}

.error {
    background: linear-gradient(#00000074, #000000d0), url(../assets/imgs/image-error.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: -5px;
    padding-top: 5px;
    margin-top: -5px;
}

@media screen and (max-width: 3000px) {
    .error {
        flex-direction: column;
        font-size: 48px;
        padding: 6vw;
    }   
}

@media screen and (max-width: 1440px) {
    .error {
        flex-direction: column;
        font-size: 36px;
    }   
}

@media screen and (max-width: 820px) {
    .error {
        padding: 6vw;
    }
}

@media screen and (max-width: 480px) {
    .error {
        font-size: 20px;
        padding: 6vw;
    }
}

