:root {
    --primary: #fff;
    --hover: #d2cfcf;
    --primary-main: #242424;
    --placeholder: #898888;
    --background-transparent: #000000e3;
}

.dashboard {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #242424;
}

.map-wrapper-main {
    display: flex;
    height: 100vh;
    width: 90%;
    z-index: 0; 
}

.sidebar-wrapper {
    z-index: 9;
}

.map-weather-wrapper {
    position: relative; 
    height: 100vh;
    width: 90%;
}

.map-container,
.weather-container {
    position: absolute;
    right: 0;
    width: 90%;
}

.sidebar-container {
    background-color: var(--primary-main);
    color: var(--primary);
    height: 100vh;
    overflow: hidden;
    transition: 0.5s;
}

.sidebar-container ul {
    position: relative;
    height: 100vh;
}

.sidebar-container ul li {
    list-style: none;
}

.sidebar-container ul li:hover {
    color: var(--hover);
}

.sidebar-container ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar-container ul li a .icon,
.sidebar-container ul li .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
} 

.sidebar-container ul li a .text,
.sidebar-container ul li .text {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.sidebar-container ul li.logo {
    margin-bottom: 50px;
}

.sidebar-container ul li.logo:hover {
    color: var(--primary);
}

.sidebar-container ul li.logo .text {
    font-size: 1.5em;
    font-weight: 800;
}

.hike-list-container {
    display: flex;
    flex-direction: column;
}

.hike-list-container:hover {
 color: var(--primary) !important;
}

.hike-title {
    display: flex;
    flex-direction: row;
}


.bottom {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

/* .input-box {
    background-color: aqua !important;
    display: flex !important;; 
    flex-direction: column !important;;
} */

.map-container {
    height: 100vh;
    width: 100vw;
}

.weather-container {
    z-index: 8;
    background-color: var(--background-transparent);
    color: var(--primary);
    font-size: 2em;
    font-weight: bold;
    height: 100vh;
    width: 100vw;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-content-wrapper {
    width: 75vw;
    padding-left: 10vw;
    block-size: fit-content;
}

.weather-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 2vh 2vw;
}

.weather-close-btn {
    text-decoration: underline;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.weather-close-btn button {
    text-decoration: underline;
}

.weather-items-wrapper {
    display: flex;
    justify-content: center;  
}

.weather-items {
    display: flex;
    overflow: hidden;
}

.weather-item {
    margin-left: 1em;
}

.hikes-mobile {
    display: none;
}

/* 745 bp */

@media screen and (max-width: 680px) {
    .dashboard {
        flex-direction: column;
        height: 220vh;
        width: 100vw;
        background-color: #242424;
    }

    .map-wrapper-main {
        width: 43%;
    }

    .map-weather-wrapper {
        width: 95%;
    }

    .map-container {
        width: 113vw;
    }

    .sidebar-container,
    .sidebar-wrapper {
        height: 40vh;
        width: 100vw !important;
    }

    .sidebar-container ul {
        display: flex;
        height: 7vh;
    }

    .text {
        display: none !important;
    }

    .hike-list-container {
        height: 38vh;
    }

    .hike-list {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
    }

    .hike-list ul {
        flex-direction: column;
    }

    .search-box {
        margin-bottom: 7vw !important;
        width: 82vw !important;
    }

    .input-box {
        font-size: small !important;
        
    }

    .input-destination {
        width: 77vw !important;
    }

    .input-stack {
        flex-direction: column !important;
        width: 75vw !important;
    }

    .info-stack {
        flex-direction: column !important;
        width: 75vw !important;
    }

    .bottom {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 0;
        margin-left: 150px;
    }

    .weather-container {
        height: 145vh !important;
    }

    .weather-content-wrapper {
        padding-left: 7vw;
    }

    .weather-items-wrapper {
        width: 60vw;
    }

    .weather-title {
        font-size: 1rem;
        padding-left: 0;
        padding-right: 6vw;
    }

    .weather-items {
        flex-direction: column;
    }

    .weather-item {
        width: 60vw;
        height: 15vh;
        margin-left: 0;
        flex-wrap: wrap;
        margin: 0.5vh 0;
        justify-content: center;
    }

    .weather-info-card {
        display: flex;
        padding: 0 !important;
    }
    
    .weather-icon {
        padding: 0 !important;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 5vw !important;
    
    }

    .weather-text {
        font-size: smaller;
    }

    .weather-info-box {
     padding: 2vh 1vw!important; 
    }

    .hikes-mobile {
        font-size: xx-large;
        text-align: center;
        margin-top: 10vh;
        font-weight: 900;
        display: block;
    }
} 

/* @media screen and (max-width: 480px) {
    .dashboard {
        flex-direction: column;
        height: 185vh;
        width: 100vw;
        background-color: #242424;
    }

    .map-wrapper-main {
        width: 27%;
    }

    .map-weather-wrapper {
        width: 95%;
    }

    .map-container {
        width: 113vw;
    }

    .sidebar-container,
    .sidebar-wrapper {
        height: 40vh;
        width: 100vw !important;
    }

    .sidebar-container ul {
        display: flex;
        height: 7vh;
    }

    .text {
        display: none !important;
    }

    .hike-list-container {
        height: 38vh;
    }

    .hike-list {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
    }

    .hike-list ul {
        flex-direction: column;
    }

    .search-box {
        margin-bottom: 7vw !important;
        width: 82vw !important;
    }

    .input-box {
        font-size: small !important;
        
    }

    .input-destination {
        width: 77vw !important;
    }

    .input-stack {
        flex-direction: column !important;
        width: 75vw !important;
    }

    .info-stack {
        flex-direction: column !important;
        width: 75vw !important;
    }

    .bottom {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 0;
        margin-left: 150px;
    }

    .weather-container {
        height: 145vh !important;
    }

    .weather-content-wrapper {
        padding-left: 7vw;
    }

    .weather-items-wrapper {
        width: 60vw;
    }

    .weather-title {
        font-size: 1rem;
        padding-left: 0;
        padding-right: 6vw;
    }

    .weather-items {
        flex-direction: column;
    }

    .weather-item {
        width: 60vw;
        height: 15vh;
        margin-left: 0;
        flex-wrap: wrap;
        margin: 0.5vh 0;
        justify-content: center;
    }

    .weather-info-card {
        display: flex;
        padding: 0 !important;
    }
    
    .weather-icon {
        padding: 0 !important;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 5vw !important;
    
    }

    .weather-text {
        font-size: smaller;
    }

    .weather-info-box {
     padding: 2vh 1vw!important; 
    }

    .hikes-mobile {
        font-size: xx-large;
        text-align: center;
        margin-top: 10vh;
        font-weight: 900;
        display: block;
    }
} */

@media screen and (max-width: 460px) {
    .dashboard {
        flex-direction: column;
        height: 280vh;
        width: 100vw;
    }

    .hike-list-container {
        height: 2vh;
    }

    .icon {
        font-size: xx-small;
        height: 48px !important;
    }
}

@media screen and (max-width: 400px) {
    .map-box-mobile {
        margin-left: -225px !important;
    }

    .button-group-mobile {
        display: flex !important;
        flex-direction: column !important;
    }

    .sidebar-container ul {
        flex-direction: column;
    }

    .icon {
        font-size: 1em !important;
        padding: fit-content;
    }

    .bottom-link-weather-mobile {
        max-width: 10vw;
    }

    .bottom-link-mobile {
        max-width: 10vw;
        padding-right: 2vw;
    }

    .logo {
        margin-bottom: 20px !important;
    }

    .icon {
        min-width: 28px !important;
    }

    .search-box {
        width: 86vw !important;
    }

    .hike-list {
        font-size: x-small;
        margin-top: 0;
    }

   .hike-list-container {
        height: 25vh;
    }

    .hikes-mobile {
        display: none;
    }
}

@media screen and (max-height: 320px) {
    .dashboard {
        width: 110vw !important;
    }

    .map-container {
        /* width: 90vw; */
    }

    .sidebar-container {
        width: 100vw !important;
        padding-top: 7vh;
        padding-left: 8vw;
    }

    .icon {
        height: 22px !important;
    }

    .bottom {
        margin-left: 70px;
    }
}

@media screen and (max-width: 280px) {
    .dashboard {
        height: 280vh !important;
    }

    .bottom {
        margin-left: 100px;
    }

    .icon {
        margin-left: -2vw;
    }

    .map-container {
        width: 117vw; 
    }

    .map-box-mobile {
        width: 80% !important;
    }

    .map-wrapper-main {
        width: 39%;
    }
}

@media screen and (max-height: 280px) {
    .dashboard {
        height: 350vh;
    }

    .sidebar-container {
        width: 100vw !important;
        height: 80vh;
        padding-top: 9vh;
        padding-left: 20vw;
    }

    .hike-list {
        margin-top: -0.5px;
        height: 80vh !important;
        margin-left: 5vw;
    }

    .bottom {
        margin-top: 1vh;
    }

    .icon {
        height: 22px !important;
    }

    .map-weather-wrapper {
        margin-top: 30vh;
        width: 140%;
    }

    .map-container {
        width: 110vw;
    }

    .hike-list-container {
        flex-direction: column-reverse;
        height: 105vh;

    }

    .map-box-mobile {
        height: 100% !important;
        width: 92% !important;
    }

    .text {
        display: none;
    }
}

@media screen and (max-height: 240px) {
    .dashboard {
        height: 400vh;
    }

    .sidebar-container {
        width: 100vw !important;
        height: 80vh;
        padding-top: 9vh;
        padding-left: 2vw;
    }

    .hike-list {
        margin-top: -0.5px;
        height: 100vh !important;
        margin-left: 10vw;
    }

    .bottom {
        margin-top: 1vh;
    }

    .icon {
        height: 22px !important;
    }

    .map-weather-wrapper {
        margin-top: 30vh;
        width: 140%;
    }

    .map-container {
        width: 120vw;
    }

    .hike-list-container {
        flex-direction: column-reverse;
        height: 105vh;
        margin-left: 10%;
    }

    .map-box-mobile {
        height: 100% !important;
        width: 80% !important;
    }

    .map-wrapper-main {
        width: 50%;
    }
}