:root {
    --primary: #fff;
    --hover: #d2cfcf;
    --primary-main: #242424;
    --placeholder: #898888;
    --background-transparent: #000000d0;
}

.dashboard {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.map-container {
    height: 100vh;
    width: 100vw;
}

.sidebar-container {
    background-color: var(--primary-main);
    color: var(--primary);
    height: 100vh;
    overflow: hidden;
    transition: 0.5s;
}

.sidebar-container ul {
    position: relative;
    height: 100vh;
}

.sidebar-container ul li {
    list-style: none;
}

.sidebar-container ul li:hover {
    color: var(--hover);
}

.sidebar-container ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar-container ul li a .icon,
.sidebar-container ul li .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
} 

.sidebar-container ul li a .text,
.sidebar-container ul li .text {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.sidebar-container ul li.logo {
    margin-bottom: 50px;
}

.sidebar-container ul li.logo:hover {
    color: var(--primary);
}

.sidebar-container ul li.logo .text {
    font-size: 1.5em;
    font-weight: 800;
}

.hike-list-container {
    display: flex;
    flex-direction: column;
}

.hike-list-container:hover {
 color: var(--primary) !important;
}
.hike-title {
    display: flex;
    flex-direction: row;
}
.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* .weather-container {
    background-color: #898888;
    color: var(--primary);
    font-size: 24px;
    font-weight: bold;
    grid-area: weather;    
}

.weather-container p {
    background-color: var(--background-transparent);
    padding-left: 1vw;
    padding-right: 1vw;
    width: fit-content;
    border-bottom-right-radius: 5px;
} */

