:root {
    --primary: #fff;
    --hover: #d2cfcf;
    --primary-main: #242424;
    --placeholder: #898888;
    --background-transparent: #000000d0;
    --update: #eef1f4;
}

.hike-list {
    margin-left: 1.5em;
    transition-delay: 250ms;
    align-items: center;
    margin-right: 4px;
    height: 420px;
    overflow-y: scroll;
    overflow-x: none;
    scrollbar-width: thin;
}

/* Style the scrollbar background */
.hike-list::-webkit-scrollbar {
    background: var(--primary-main);
    width: 10px;
  }
  
  /* Style the scrollbar handle */
  .hike-list::-webkit-scrollbar-thumb {
    background: var(--hover);
    border-radius: 20px;
}

.hike-list ul {
    height: max-content !important;
}

.hike-list ul li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    /* border-bottom: 1px solid #fff; */
    width: 210px;
}

.hike-list ul li:hover {
    color: var(--primary) !important;
}

.hike-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hike-name {
    font-size: 14px;
}

.hike-list ul li p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 170px;
}

.hike-list ul li p:hover {
    color: var(--hover) !important;
}

.hike-icon {
    margin-right: 0.2em;
    font-size: 14px;
}

.hike-icon-sub {
    font-size: 12px;
    margin-right: 0.2em;
}

.hike-icon:hover {
    color: var(--hover) !important;
}

.hike-input {
    color: var(--primary);
    background-color: var(--primary-main);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 170px;
    font-size: 14px;
}

.hike-input::placeholder {
    color: var(--update);
    font-style: italic;
}

.hike-route-input {
    color: var(--primary);
    background-color: var(--primary-main);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 170px;
    font-size: 12px;
}

.hike-route-input::placeholder {
    color: var(--update);
    font-style: italic;
}

.route-sublist {
    height: max-content !important;
    transition: 1s;
}

.route-subitem {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 1s;
}

@media screen and (max-width: 480px) {
    .hike-list ul {
        width: 100vw;
    }

    .hike-list ul {
        width: 62vw;
        margin-left: 3vw;
    }

    .hike-list ul li {
        width: 240px;
    }

    .map-handler {
        width: fit-content;
    }

    .hike-name {
        font-size: 16px;
        width: 300px;
    }

    .hike-route-name {
        font-size: 14px;
    }
}
